<%= render 'shared/second_header' %>

<div class="o-index-page">
  <h1>アウトプット一覧</h1>

  <div class="output-contents">
    <ul>
    <% @outputs.each do |output| %>
      <li class="output-list">
        <div class="o-index-date">
          <% if output.created_at != output.updated_at %>
            <div class="o-index-updated_at">
              <%= l(output.updated_at, format: :long) %>に更新
            /
            </div>
          <% end %>
          <div>
            <%= l(output.created_at, format: :long) %>に投稿
          </div>
        </div>
        <%= link_to output_path(output.id) do %>
          <div class="o-index-title">
            <b><%= output.title %></b>
          </div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<footer>

  <div class="o-index-footer">
    <%= link_to 'トップページに戻る', root_path, class: "to-top" %>
  </div>

</footer>